USE [UserManagement]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02-09-2019 02:00:47 a.m. ******/
DROP TABLE [dbo].[User]
GO
USE [master]
GO
/****** Object:  Database [UserManagement]    Script Date: 02-09-2019 02:00:47 a.m. ******/
DROP DATABASE [UserManagement]
GO
/****** Object:  Database [UserManagement]    Script Date: 02-09-2019 02:00:47 a.m. ******/
CREATE DATABASE [UserManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UserManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UserManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UserManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\UserManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UserManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UserManagement]
GO
USE [UserManagement]
GO
/****** Object:  Table [dbo].[User]    Script Date: 02-09-2019 02:00:47 a.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[UpdateDate] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 
GO
INSERT [dbo].[User] ([Id], [Name], [LastName], [Address], [CreateDate], [UpdateDate]) VALUES (1, N'Admin', N'Admin', N'Local', CAST(N'2019-09-01T20:48:55.587' AS DateTime), CAST(N'2019-09-01T20:48:55.587' AS DateTime))
GO
INSERT [dbo].[User] ([Id], [Name], [LastName], [Address], [CreateDate], [UpdateDate]) VALUES (2, N'Edinson', N'Galicia', N'Perú', CAST(N'2019-09-01T21:29:07.917' AS DateTime), CAST(N'2019-09-01T21:29:07.917' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[User] OFF
GO
USE [master]
GO
